<ul>
  <li>
    <h2><a routerLink="samples">Samples</a></h2>
  </li>
</ul>

<form class="example-form1">
  <mat-form-field class="example-full-width1">
    <input matInput placeholder="Favorite food" value="">
  </mat-form-field>

  <!--<mat-form-field class="full-width">-->
    <!--<input matInput type="text" name="name" formControlName="name" >-->
    <!--<mat-placeholder style="color:brown">Enter your name here</mat-placeholder>-->
    <!--<mat-icon matSuffix class="material-icons">perm_identity</mat-icon>-->
  <!--</mat-form-field>-->

</form>




<router-outlet></router-outlet>

